@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
 #svelte {
    height: 100vh;
  }
  .bg-black {
    background: #404040;
  }
 .sq-b {
    border-image: url("/icon.svg") 30 stretch;
    /* @apply border-2 border-black; */
  }
  body {
    background: url("https://kindred.stanford.edu/linedpaper.png") ;
    /* @apply border-2 border-black; */
  }

/* purge end ignore */
